AIRTABLE_PAT=patXXXXXXXXXXXXXX
AIRTABLE_BASE_ID=appXXXXXXXXXXXXXX
ORS_API_KEY=
PORT=3000
ADMIN_PASSWORD=mon_mot_de_passe_secret

# URL du webhook n8n
N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/neotravel-chat-webhook-001/chat
# N8N_WEBHOOK_URL=http://localhost:5678/webhook/neotravel-chat-webhook-001/chat

